<h1>Quick Start</h1>

<h2>Install package</h2>

<p class="mb-5">
  To install ng-metro4 in your angular application first execute this command:
</p>

<code>npm install -S ng-metro4 metro4</code>

<h2>Add styles</h2>

<p class="mb-5">
  After installing you have to reference the styles and scripts. Modify your <code>angular.json</code> like this:
</p>

<pre><code [highlight]="angularJsonContent" [languages]="['ts']"></code></pre>

Instead of adding the css file in your <code>angular.json</code> you could also add
<code>@import '~metro4/build/css/metro-all.min.css';</code> at the top of your <code>styles.less</code> file.

<h2>Include metro4-module</h2>

<p class="mb-5">
  As a last step you have to include the <code>NgMetro4Module</code> in your module:
</p>

<pre><code [highlight]="moduleImport" [languages]="['ts']"></code></pre>

<h2>Start using</h2>

<p>
  You are now ready to use ng-metro4.<br>
  You can start browsing the components to get an image of what is possible.
</p>
