<h1>Switch</h1>

<app-doc-component title="Playground" [values]="{ model: true, material: false }" [showModel]="true">
  <![CDATA[
  <m4-switch [(ngModel)]="model" [disabled]="disabled" [caption]="caption" [caption-position]="captionPosition" \l
             \t\t[material]="material"></m4-switch>

  \i
  <hr>

  <div class="row">
    <div class="cell-md-4">
      <m4-input prepend="Caption" [(ngModel)]="caption"></m4-input>
    </div>
    <div class="cell-md-4">
      <m4-select prepend="Caption position" [(ngModel)]="captionPosition"
                 [options]="positionHorizontalDictionary"></m4-select>
    </div>

    <div class="cell-12">
      <m4-checkbox [(ngModel)]="disabled" caption="Disabled"></m4-checkbox>
      <m4-checkbox [(ngModel)]="material" caption="Material"></m4-checkbox>
    </div>
  </div>
  ]]>
</app-doc-component>

<app-doc-component title="Basic usage" [values]="{ model: true }" [showModel]="true">
  <![CDATA[
  <m4-switch [(ngModel)]="model"></m4-switch>
  \n
  <m4-switch [(ngModel)]="model" [disabled]="true"></m4-switch>
  ]]>
</app-doc-component>

<app-doc-component title="Material design" [values]="{ model: true }" [showModel]="true">
  <![CDATA[
  <m4-switch [(ngModel)]="model" [material]="true"></m4-switch>
  \n
  <m4-switch [(ngModel)]="model" [material]="true" [disabled]="true"></m4-switch>
  ]]>
</app-doc-component>

<app-doc-component title="Caption" [values]="{ model: true }" [showModel]="true">
  <![CDATA[
  <m4-switch [(ngModel)]="model" caption="Description"></m4-switch>
  \n
  <m4-switch [(ngModel)]="model" caption="Description" caption-position="left"></m4-switch>
  ]]>
</app-doc-component>
