<m4-radio [(ngModel)]="model" name="test" value="t"></m4-radio>

<m4-radio [(ngModel)]="model" name="test" [value]="{name: 'test', id: 3}"></m4-radio>

<m4-radio [(ngModel)]="model" name="test" value="s" caption="test123"></m4-radio>

<m4-radio [(ngModel)]="model" name="test" value="x" caption="test123" caption-position="left"></m4-radio>

<br>

<m4-radio [(ngModel)]="model" name="test2" value="t"></m4-radio>

<m4-radio [(ngModel)]="model" name="test2" value="s" [disabled]="disable"></m4-radio>

<m4-radio [(ngModel)]="model" name="test2" value="x"></m4-radio>

<br>

<m4-radio value="t"></m4-radio>

<br>

<m4-radio-group [(ngModel)]="model">
  <m4-radio value="s"></m4-radio>
  <m4-radio value="t"></m4-radio>
  <m4-radio value="x"></m4-radio>
  <m4-radio [value]="{name: 'test', id: 3}"></m4-radio>
  <m4-radio [value]="[1,2,3]"></m4-radio>
</m4-radio-group>

<br>

<m4-radio-group [(ngModel)]="model" [disabled]="disable">
  <m4-radio value="s"></m4-radio>
  <m4-radio value="t"></m4-radio>
  <m4-radio value="x"></m4-radio>
  <m4-radio [value]="[1,2,3]"></m4-radio>
</m4-radio-group>

<br>

<m4-checkbox caption="Disable" [(ngModel)]="disable"></m4-checkbox>

<br>

{{model | json}}
