<h1>Calendar picker</h1>
<a href="https://metroui.org.ua/calendarpicker.html" target="_blank">Calendar picker in Metro 4 docs</a>

<div class="remark info">
  This library uses <a href="https://momentjs.com/" target="_blank">Moment.js</a> for date computations.<br>
  Run <code>npm install -S moment</code> to use date-components.
</div>

<app-doc-component title="Basic usage" [values]="{ model: today }" [showModel]="true">
  <![CDATA[
  <m4-calendar-picker [(ngModel)]="model"></m4-calendar-picker>\n
  <m4-calendar-picker [(ngModel)]="model" cls-calendar="compact"></m4-calendar-picker>\n
  ]]>
</app-doc-component>

<app-doc-component title="Control width" [values]="{ model: today }" [showModel]="true">
  <![CDATA[
  <m4-calendar-picker [(ngModel)]="model" [calendar-wide]="true"></m4-calendar-picker>\n
  <m4-calendar-picker [(ngModel)]="model" calendar-wide-point="md"></m4-calendar-picker>
  ]]>
</app-doc-component>

<app-doc-component title="Dialog mode" [values]="{ model: today }" [showModel]="true">
  <![CDATA[
  <m4-calendar-picker [(ngModel)]="model" [dialog-mode]="true"></m4-calendar-picker>\n
  <m4-calendar-picker [(ngModel)]="model" [dialog-mode]="true" [dialog-overlay]="false"></m4-calendar-picker>\n
  <m4-calendar-picker [(ngModel)]="model" [dialog-mode]="true" overlay-color="#ff0000" overlay-alpha="0.5"></m4-calendar-picker>\n
  <m4-calendar-picker [(ngModel)]="model" dialog-point="900"></m4-calendar-picker>
  ]]>
</app-doc-component>

<app-doc-component title="Locale" [values]="{ model: today, locale: 'de-DE' }" [showModel]="true">
  <![CDATA[
  <m4-calendar-picker [(ngModel)]="model" [locale]="locale"></m4-calendar-picker>\n

  \i
  <m4-radio-group [(ngModel)]="locale">
    <m4-radio value="de-DE" caption="de-DE"></m4-radio>
    <m4-radio value="en-US" caption="en-US"></m4-radio>
    <m4-radio value="hu-HU" caption="hu-HU"></m4-radio>
    <m4-radio value="uk-UA" caption="uk-UA"></m4-radio>
    <m4-radio value="ru-RU" caption="ru-RU"></m4-radio>
  </m4-radio-group>
  ]]>
</app-doc-component>

<app-doc-component title="Format" [values]="{ model: today, format: '%d.%m.%Y' }" [showModel]="true">
  <![CDATA[
  <m4-calendar-picker [(ngModel)]="model" [format]="format"></m4-calendar-picker>\n

  \i
  <m4-input [(ngModel)]="format" prepend="Format"></m4-input>
  ]]>
</app-doc-component>

<app-doc-component title="Size" [values]="{ model: today }" [showModel]="true">
  <![CDATA[
  <m4-calendar-picker [(ngModel)]="model" size="50%"></m4-calendar-picker>
  ]]>
</app-doc-component>

<app-doc-component title="Clear button" [values]="{ model: today }" [showModel]="true">
  <![CDATA[
  <m4-calendar-picker [(ngModel)]="model" [clear-button]="true"></m4-calendar-picker>\n
  <m4-calendar-picker [(ngModel)]="model" [clear-button]="true" clear-button-icon="<span class='mif-power'></span>"></m4-calendar-picker>
  ]]>
</app-doc-component>

<app-doc-component title="Icon" [values]="{ model: today }" [showModel]="true">
  <![CDATA[
  <m4-calendar-picker [(ngModel)]="model" calendar-button-icon="<span class='mif-search'></span>"></m4-calendar-picker>
  ]]>
</app-doc-component>

<app-doc-component title="Min/Max" [values]="{ model: today, today: today }" [showModel]="true">
  <![CDATA[
  <m4-calendar-picker [(ngModel)]="model" [min-date]="today"></m4-calendar-picker>\n
  <m4-calendar-picker [(ngModel)]="model" [max-date]="today"></m4-calendar-picker>
  ]]>
</app-doc-component>

<app-doc-component title="Week start" [values]="{ model: today }" [showModel]="true">
  <![CDATA[
  <m4-calendar-picker [(ngModel)]="model" [week-start]="0"></m4-calendar-picker>\n
  <m4-calendar-picker [(ngModel)]="model" [week-start]="1"></m4-calendar-picker>
  ]]>
</app-doc-component>

<app-doc-component title="Selectable years" [values]="{ model: today }" [showModel]="true">
  <![CDATA[
  <m4-calendar-picker [(ngModel)]="model" [years-before]="0"></m4-calendar-picker>\n
  <m4-calendar-picker [(ngModel)]="model" [years-after]="0"></m4-calendar-picker>
  ]]>
</app-doc-component>

<app-doc-component title="Show header" [values]="{ model: today }" [showModel]="true">
  <![CDATA[
  <m4-calendar-picker [(ngModel)]="model" [show-header]="false"></m4-calendar-picker>
  ]]>
</app-doc-component>

<app-doc-component title="Outside" [values]="{ model: today }" [showModel]="true">
  <![CDATA[
  <m4-calendar-picker [(ngModel)]="model" [outside]="true"></m4-calendar-picker>
  ]]>
</app-doc-component>

<app-doc-component title="Ripple" [values]="{ model: today }" [showModel]="true">
  <![CDATA[
  <m4-calendar-picker [(ngModel)]="model" [ripple]="true"></m4-calendar-picker>\n
  <m4-calendar-picker [(ngModel)]="model" [ripple]="true" ripple-color="#ff0000"></m4-calendar-picker>
  ]]>
</app-doc-component>
