<h1>Progress</h1>
<a href="https://metroui.org.ua/progress.html" target="_blank">Progress in Metro 4 docs</a>

<app-doc-component title="Usage">
  <![CDATA[
  <m4-progress [value]="50"></m4-progress>\n
  <m4-progress [value]="60" [buffer]="80" type="buffer"></m4-progress>\n
  <m4-progress type="line"></m4-progress>\n
  <m4-progress [value]="20" [buffer]="40" type="load"></m4-progress>\n
  <m4-progress [value]="50" [buffer]="70" [small]="true" type="buffer"></m4-progress>
  ]]>
</app-doc-component>
