<h1>Textarea</h1>
<a href="https://metroui.org.ua/textarea.html" target="_blank">Textarea in Metro 4 docs</a>

<app-doc-component header="Playground"
                   [values]="{ model: 'value', clearBtn: true, clearBtnIcon: '<span class=\'mif-cross\'></span>', autoSize: true }"
                   [showModel]="true">
  <![CDATA[
  <m4-textarea [(ngModel)]="model" [prepend]="prepend" [append]="append" [disabled]="disabled"\l
            \t\t[placeholder]="placeholder" [clear-button]="clearBtn" [clear-button-icon]="clearBtnIcon"\l
            \t\t[default-value]="defaultValue" [auto-size]="autoSize" [class]="accent" [readonly]="readonly"></m4-textarea>

  \i
  <hr>

  <div class="row">
    <div class="cell-md-4">
      <m4-input prepend="Placeholder" [(ngModel)]="placeholder"></m4-input>
    </div>
    <div class="cell-md-4">
      <m4-input prepend="Prepend" [(ngModel)]="prepend"></m4-input>
    </div>
    <div class="cell-md-4">
      <m4-input prepend="Append" [(ngModel)]="append"></m4-input>
    </div>
    <div class="cell-md-4">
      <m4-input prepend="Clear icon" [(ngModel)]="clearBtnIcon"></m4-input>
    </div>
    <div class="cell-md-4">
      <m4-input prepend="Default value" [(ngModel)]="defaultValue"></m4-input>
    </div>
    <div class="cell-md-4">
      <m4-select prepend="Accent class"
                 [options]="accentDictionary"
                 [(ngModel)]="accent"></m4-select>
    </div>

    <div class="cell-12">
      <m4-checkbox [(ngModel)]="disabled" caption="Disabled"></m4-checkbox>
      <m4-checkbox [(ngModel)]="clearBtn" caption="Show clear button"></m4-checkbox>
      <m4-checkbox [(ngModel)]="autoSize" caption="Autosize"></m4-checkbox>
      <m4-checkbox [(ngModel)]="readonly" caption="Readonly"></m4-checkbox>
    </div>
  </div>
  ]]>
</app-doc-component>

<app-doc-component header="Basic usage" [values]="{ model: 'value' }" [showModel]="true">
  <![CDATA[
  <m4-textarea [(ngModel)]="model"></m4-textarea>
  ]]>
</app-doc-component>

<app-doc-component header="Placeholder" [values]="{ model: '' }" [showModel]="true">
  <![CDATA[
  <m4-textarea [(ngModel)]="model" placeholder="Placeholder"></m4-textarea>
  ]]>
</app-doc-component>

<app-doc-component header="Prepend/Append" [showModel]="true"
                   [values]="{ model: 'value', prepend: 'Example Description' }">
  <![CDATA[
  <m4-textarea [(ngModel)]="prepend" prepend="Change prepend value"></m4-textarea>
  \n
  <m4-textarea [(ngModel)]="model" [prepend]="prepend"></m4-textarea>
  \n
  <m4-textarea [(ngModel)]="model" [append]="prepend"></m4-textarea>\n
  <m4-textarea [(ngModel)]="model" prepend="<span class='mif-home'></span>"></m4-textarea>
  ]]>
</app-doc-component>

<app-doc-component header="Clear button">
  <![CDATA[
  <!-- Default -->\l
  <m4-textarea [ngModel]="'value'"></m4-textarea>
  \n

  <!-- Clear button disabled -->\l
  <m4-textarea [ngModel]="'value'" [clear-button]="false"></m4-textarea>
  \n

  <!-- Default value -->\l
  <m4-textarea [ngModel]="'value'" [default-value]="'default value from reset'" [clear-button]="true"></m4-textarea>
  \n

  <!-- Custom icon -->\l
  <m4-textarea [ngModel]="'value'" clear-button-icon="<span class='mif-rocket'></span>"></m4-textarea>
  ]]>
</app-doc-component>

<app-doc-component header="Auto size" [values]="{ model: 'password' }" [showModel]="true">
  <![CDATA[
  <m4-textarea [(ngModel)]="model" [auto-size]="true"></m4-textarea>
  ]]>
</app-doc-component>
