<h1>Keypad</h1>
<a href="https://metroui.org.ua/keypad.html" target="_blank">Keypad in Metro 4 docs</a>

<app-doc-component header="Playground" [values]="{ model: '', showValue: true, serviceBtn: true, position: 'bottom' }" [showModel]="true">
  <![CDATA[
  <m4-keypad [(ngModel)]="model" [disabled]="disabled" [class]="accent" [keys]="keys" [key-size]="keySize"\l
             \t\t [type]="type" [shuffle]="shuffle" [show-value]="showValue" [service-buttons]="serviceBtn"\l
             \t\t [open]="open" [position]="position"></m4-keypad>

  \i
  <hr>

  <div class="row">
    <div class="cell-md-4">
      <m4-input prepend="Key size" [(ngModel)]="keySize" type="number"></m4-input>
    </div>
    <div class="cell-md-4">
      <m4-input prepend="Star color" [(ngModel)]="starColor"></m4-input>
    </div>
    <div class="cell-md-4">
      <m4-select prepend="Keys"
                 [options]="{ 'a': 'a', 'b': 'b', 'c': 'c', 'd': 'd', 'e': 'e' }"
                 [(ngModel)]="keys" [multiple]="true"></m4-select>
    </div>
    <div class="cell-md-4">
      <m4-select prepend="Type"
                 [options]="inputDictionary"
                 [(ngModel)]="type"></m4-select>
    </div>
    <div class="cell-md-4">
      <m4-select prepend="Type"
                 [options]="positionDictionary"
                 [(ngModel)]="position"></m4-select>
    </div>
    <div class="cell-md-4">
      <m4-select prepend="Accent class"
                 [options]="accentDictionary"
                 [(ngModel)]="accent"></m4-select>
    </div>

    <div class="cell-12">
      <m4-checkbox [(ngModel)]="disabled" caption="Disabled"></m4-checkbox>
      <m4-checkbox [(ngModel)]="shuffle" caption="Shuffle"></m4-checkbox>
      <m4-checkbox [(ngModel)]="serviceBtn" caption="Service buttons"></m4-checkbox>
      <m4-checkbox [(ngModel)]="showValue" caption="Show value"></m4-checkbox>
      <m4-checkbox [(ngModel)]="open" caption="Open"></m4-checkbox>
    </div>
  </div>
  ]]>
</app-doc-component>

<app-doc-component header="Basic usage" [values]="{ model: '' }" [showModel]="true">
  <![CDATA[
  <m4-keypad [(ngModel)]="model"></m4-keypad>
  ]]>
</app-doc-component>

<app-doc-component header="Keys" [values]="{ model: 'ab' }" [showModel]="true">
  <![CDATA[
  <m4-keypad [(ngModel)]="model" [keys]="['a', 'b', 'c', 'd', 'e']"></m4-keypad>
  ]]>
</app-doc-component>

<app-doc-component header="Key size" [values]="{ model: '' }" [showModel]="true">
  <![CDATA[
  <m4-keypad [(ngModel)]="model" [key-size]="30"></m4-keypad>
  ]]>
</app-doc-component>

<app-doc-component header="Custom key length" [values]="{ model: '' }" [showModel]="true">
  <![CDATA[
  <m4-keypad [(ngModel)]="model" [key-length]="3" [keys]="['aa', 'bb', 'cc']"></m4-keypad>
  ]]>
</app-doc-component>

<div class="info remark pl-2 pr-2">
  The key length is an internal contraint and has to be greater than the longest key-value.
</div>

<app-doc-component header="Shuffle" [values]="{ model: '' }" [showModel]="true">
  <![CDATA[
  <m4-keypad [(ngModel)]="model" [shuffle]="true"></m4-keypad>\n
  <m4-keypad [(ngModel)]="model" [shuffle]="true" [shuffle-count]="4"></m4-keypad>
  ]]>
</app-doc-component>

<app-doc-component header="Position" [values]="{ model: '' }" [showModel]="true">
  <![CDATA[
  <m4-keypad [(ngModel)]="model" position="top"></m4-keypad>\n
  <m4-keypad [(ngModel)]="model" [dynamic-position]="true"></m4-keypad>
  ]]>
</app-doc-component>

<app-doc-component header="Disable service buttons" [values]="{ model: '' }" [showModel]="true">
  <![CDATA[
  <m4-keypad [(ngModel)]="model" [service-buttons]="false"></m4-keypad>
  ]]>
</app-doc-component>

<app-doc-component header="Hide value" [values]="{ model: '' }" [showModel]="true">
  <![CDATA[
  <m4-keypad [(ngModel)]="model" [show-value]="false"></m4-keypad>
  ]]>
</app-doc-component>

<app-doc-component header="Always open" [values]="{ model: '' }" [showModel]="true">
  <![CDATA[
  <m4-keypad [(ngModel)]="model" [open]="true" position="right"></m4-keypad>
  ]]>
</app-doc-component>

<app-doc-component header="As number input" [values]="{ model: 4 }" [showModel]="true">
  <![CDATA[
  <m4-keypad [(ngModel)]="model" type="number"></m4-keypad>
  ]]>
</app-doc-component>
