<h1>Reactive form</h1>

<app-doc-component header="Creating a reactive form" [values]="{ formGroup: formGroup, alert: alert }">
  <![CDATA[
  <m4-form-wrapper title="Form" description="This is a reactive form with different validations" [formGroup]="formGroup">\l
    \t<m4-form-control-wrapper label="Email">\l
      \t\t<m4-input type="email" placeholder="Email" formControlName="email"></m4-input>\l
    \t</m4-form-control-wrapper>\l\l

    \t<m4-form-control-wrapper label="Password">\l
      \t\t<m4-input type="password" placeholder="Enter password" formControlName="password"></m4-input>\l
    \t</m4-form-control-wrapper>\l\l

    \t<m4-form-control-wrapper label="Repeat password">\l
      \t\t<m4-input type="password" placeholder="Enter password" formControlName="password_confirm"></m4-input>\l
    \t</m4-form-control-wrapper>\l\l

    \t<m4-form-control-wrapper label="Select a number">\l
      \t\t<m4-slider type="number" formControlName="number"></m4-slider>\l
    \t</m4-form-control-wrapper>\l\l

    \t<m4-form-control-wrapper>\l
      \t\t<m4-checkbox caption="Remember me" formControlName="remember"></m4-checkbox>\l
    \t</m4-form-control-wrapper>\l
  </m4-form-wrapper>\l\l

  <button btn-style="success" m4-button [disabled]="formGroup.invalid || formGroup.pristine"\l
          \t\t (click)="alert(formGroup.value)">Submit data</button>
  ]]>
  <div lang>
    <![CDATA[
    \f:(ts)
    // Define form group\n\n
    public formGroup: FormGroup;\n\n

    constructor() {\n
      \tthis.formGroup = new M4FormGroup('reactive_demo', {\n
      \t\temail: new FormControl('', [Validators.required, Validators.email, Validators.minLength(3)]),\n
      \t\tpassword: new FormControl('', [Validators.required]),\n
      \t\tnumber: new FormControl(10, [Validators.min(5), Validators.max(30)]),\n
      \t\tpassword_confirm: new FormControl('', [Validators.required]),\n
      \t\tremember: new FormControl(false, [Validators.requiredTrue])\n
    \t}, [CustomGroupValidator.sameValues('password', 'password_confirm')]);\n
    }
    ]]>
  </div>
</app-doc-component>
