<m4-form-wrapper title="Login" description="This a form with a description" [formGroup]="formGroup">
  <m4-form-control-wrapper label="Email">
    <m4-input type="email" formControlName="name"></m4-input>

    <ng-template #controlError let-error="error">
      <span class="mif-power"></span> {{error}}
    </ng-template>
  </m4-form-control-wrapper>

  <m4-form-control-wrapper label="Email">
    <m4-input type="email" formControlName="name" placeholder="Email"></m4-input>
  </m4-form-control-wrapper>

  <m4-form-control-wrapper label="Password">
    <m4-input type="password" placeholder="Enter password" formControlName="password"></m4-input>
  </m4-form-control-wrapper>

  <m4-form-control-wrapper label="Repeat password">
    <m4-input type="password" placeholder="Enter password" formControlName="password_confirm"></m4-input>
  </m4-form-control-wrapper>

  <m4-form-control-wrapper>
    <m4-checkbox caption="Remember me" formControlName="remember"></m4-checkbox>
  </m4-form-control-wrapper>

  <ng-template #formError let-error="error">
    <span class="mif-home"></span> {{error}}
  </ng-template>
</m4-form-wrapper>

<div class="form-group">
  <button btn-style="success" m4-button>Submit data</button>
  <button m4-button type="reset">Cancel</button>
</div>

{{ formGroup.errors | json }}
{{ formGroup.value | json }}
{{ formGroup.valid | json }}
