<h1>File</h1>
<a href="https://metroui.org.ua/file.html" target="_blank">File in Metro 4 docs</a>

<app-doc-component header="Playground" [values]="{ }" [showModel]="true">
  <![CDATA[
  <m4-file-input [(ngModel)]="model" [disabled]="disabled" [class]="accent" [multiple]="multiple" [prepend]="prepend"\l
                 \t\t [button-title]="btnTitle" [drop]="drop" [read]="read"></m4-file-input>

  \i
  <hr>

  <div class="row">
    <div class="cell-md-4">
      <m4-input prepend="Prepend" [(ngModel)]="prepend"></m4-input>
    </div>
    <div class="cell-md-4">
      <m4-input prepend="Button title" [(ngModel)]="btnTitle"></m4-input>
    </div>
    <div class="cell-md-4">
      <m4-select prepend="Accent class"
                 [options]="accentDictionary"
                 [(ngModel)]="accent"></m4-select>
    </div>
    <div class="cell-md-4">
      <m4-select prepend="Read mode"
                 [options]="fileReadModeDictionary"
                 [(ngModel)]="read"></m4-select>
    </div>

    <div class="cell-12">
      <m4-checkbox [(ngModel)]="disabled" caption="Disabled"></m4-checkbox>
      <m4-checkbox [(ngModel)]="multiple" caption="Multiple"></m4-checkbox>
      <m4-checkbox [(ngModel)]="drop" caption="Drop"></m4-checkbox>
      <m4-checkbox [(ngModel)]="read" caption="Read"></m4-checkbox>
    </div>
  </div>
  ]]>
</app-doc-component>

<app-doc-component header="Basic usage" [values]="{ model: null }" [showModel]="true">
  <![CDATA[
  <m4-file-input [(ngModel)]="model"></m4-file-input>
  ]]>
</app-doc-component>

<app-doc-component header="Specify file-type" [values]="{ model: null }" [showModel]="true">
  <![CDATA[
  <m4-file-input [(ngModel)]="model" accept=".txt,.png"></m4-file-input>
  ]]>
</app-doc-component>

<app-doc-component header="Multiple files" [values]="{ model: null }" [showModel]="true">
  <![CDATA[
  <m4-file-input [(ngModel)]="model" [multiple]="true"></m4-file-input>
  ]]>
</app-doc-component>

<app-doc-component header="Prepend" [values]="{ model: null }" [showModel]="true">
  <![CDATA[
  <m4-file-input [(ngModel)]="model" prepend="Prepend"></m4-file-input>
  ]]>
</app-doc-component>

<app-doc-component header="Button title" [values]="{ model: null }" [showModel]="true">
  <![CDATA[
  <m4-file-input [(ngModel)]="model" button-title="Custom title"></m4-file-input>\n
  <m4-file-input [(ngModel)]="model" button-title="<span class='mif-folder'></span>"></m4-file-input>
  ]]>
</app-doc-component>

<app-doc-component header="Drop zone" [values]="{ model: null }" [showModel]="true">
  <![CDATA[
  <m4-file-input [(ngModel)]="model" [drop]="true"></m4-file-input>\n
  <m4-file-input [(ngModel)]="model" [drop]="true" [multiple]="true"></m4-file-input>
  ]]>
</app-doc-component>

<app-doc-component header="Read mode" [values]="{ model: null }" [showModel]="true">
  <![CDATA[
  <m4-file-input [(ngModel)]="model" read="text"></m4-file-input>\n
  <m4-file-input [(ngModel)]="model" read="text" [multiple]="true"></m4-file-input>\n
  <m4-file-input [(ngModel)]="model" read="dataUrl"></m4-file-input>\n
  <m4-file-input [(ngModel)]="model" read="arrayBuffer"></m4-file-input>\n
  <m4-file-input [(ngModel)]="model" read="binaryString"></m4-file-input>
  ]]>
</app-doc-component>

<app-doc-component header="Image picker" [values]="{ model: null }" [showModel]="true">
  <![CDATA[
  <m4-file-input [(ngModel)]="model" [multiple]="true" read="dataUrl" accept=".png"></m4-file-input>\n
  <ng-container *ngFor="let image of model">
    <img [src]="image.content" />
  </ng-container>
  ]]>
</app-doc-component>

<app-doc-component header="Read file content manually" [values]="{ model: null, openFile: openFile }" [showModel]="true">
  <![CDATA[
  <m4-file-input [(ngModel)]="model" (ngModelChange)="openFile($event)" [drop]="true"></m4-file-input>
  ]]>

  <div lang>
    <![CDATA[
    \f:(ts)
    openFile(file) {\n
      \tconst reader = new FileReader();\n\n

      \treader.onload = (e) => {\n
        \t\talert(reader.result);\n
      \t};\n\n

      \treader.readAsText(file);\n
    }
    ]]>
  </div>
</app-doc-component>
