<m4-input [(ngModel)]="tagClass" prepend="Tag class"></m4-input>
<m4-checkbox caption="alert" [(ngModel)]="alert"></m4-checkbox>

{{tagClass}}

<m4-tag-input [(ngModel)]="model" [class.alert]="alert"></m4-tag-input>

<m4-tag-input [(ngModel)]="model" [random-color]="true"></m4-tag-input>

<m4-tag-input [(ngModel)]="model" [tag-trigger]="[13]"></m4-tag-input>

<m4-tag-input [(ngModel)]="model" [cls-tag]="tagClass" cls-tag-remover="bg-blue" cls-tag-title="bg-green"></m4-tag-input>

<m4-tag-input [(ngModel)]="model" [max-tags]="5"></m4-tag-input>

{{model | json}}
