<h1>Tag input</h1>
<a href="https://metroui.org.ua/tag-input.html" target="_blank">Tag input in Metro 4 docs</a>

<app-doc-component header="Playground" [values]="{ model: [ 'first value', 'second' ], trigger: ['13', '188'] }" [showModel]="true">
  <![CDATA[
  <m4-tag-input [(ngModel)]="model" [disabled]="disabled" [max-tags]="limit" [random-color]="randomColor"\l
                \t\t [class]="accent" [tag-trigger]="trigger"></m4-tag-input>

  \i
  <hr>

  <div class="row">
    <div class="cell-md-4">
      <m4-input type="number" prepend="Limit" [(ngModel)]="limit"></m4-input>
    </div>
    <div class="cell-md-4">
      <m4-select prepend="Trigger"
                 [options]="{ '13': 'Enter', '188': 'Comma', '32': 'Space' }"
                 [(ngModel)]="trigger" [multiple]="true"></m4-select>
    </div>
    <div class="cell-md-4">
      <m4-select prepend="Accent class"
                 [options]="accentDictionary"
                 [(ngModel)]="accent"></m4-select>
    </div>

    <div class="cell-12">
      <m4-checkbox [(ngModel)]="disabled" caption="Disabled"></m4-checkbox>
      <m4-checkbox [(ngModel)]="randomColor" caption="Random color"></m4-checkbox>
    </div>
  </div>
  ]]>
</app-doc-component>

<app-doc-component header="Basic usage" [values]="{ model: ['first value', 'second'] }" [showModel]="true">
  <![CDATA[
  <m4-tag-input [(ngModel)]="model"></m4-tag-input>
  ]]>
</app-doc-component>

<app-doc-component header="Random color" [values]="{ model: ['first value', 'second'] }" [showModel]="true">
  <![CDATA[
  <m4-tag-input [(ngModel)]="model" [random-color]="true"></m4-tag-input>
  ]]>
</app-doc-component>

<app-doc-component header="Tag limit" [values]="{ model: ['first value', 'second'] }" [showModel]="true">
  <![CDATA[
  <m4-tag-input [(ngModel)]="model" [max-tags]="5"></m4-tag-input>
  ]]>
</app-doc-component>

<app-doc-component header="Trigger" [values]="{ model: ['first value', 'second'] }" [showModel]="true">
  <![CDATA[
  <m4-tag-input [(ngModel)]="model" [tag-trigger]="[13]"></m4-tag-input>
  ]]>
</app-doc-component>
