<m4-select [options]="colorArrForSelect" [(ngModel)]="color"></m4-select>
<m4-select [options]="icons" [(ngModel)]="icon"></m4-select>

<span [m4Icon]="icon" [color]="color"></span>
<span [m4Icon]="icon" [color]="color" [size]="0"></span>
<span [m4Icon]="icon" [color]="color" [size]="1"></span>
<span [m4Icon]="icon" [color]="color" [size]="2"></span>
<span [m4Icon]="icon" [color]="color" [size]="3"></span>
<span [m4Icon]="icon" [color]="color" [size]="4"></span>
<span [m4Icon]="icon" [color]="color" [size]="5"></span>
