<m4-select [options]="colorArrForSelect" [(ngModel)]="color"></m4-select>
<m4-select [options]="icons" [(ngModel)]="icon"></m4-select>

<m4-icon [icon]="icon" [color]="color"></m4-icon>
<m4-icon [icon]="icon" [color]="color" [size]="0"></m4-icon>
<m4-icon [icon]="icon" [color]="color" [size]="1"></m4-icon>
<m4-icon [icon]="icon" [color]="color" [size]="2"></m4-icon>
<m4-icon [icon]="icon" [color]="color" [size]="3"></m4-icon>
<m4-icon [icon]="icon" [color]="color" [size]="4"></m4-icon>
<m4-icon [icon]="icon" [color]="color" [size]="5"></m4-icon>
