<h1>Icon</h1>
<a href="https://metroui.org.ua/icons.html" target="_blank">Icons in Metro 4 docs</a>

<app-doc-component header="Playground" [values]="{ icon: 'home', icons: icons }">
  <![CDATA[
  <m4-icon [icon]="icon" [color]="color" size="4"></m4-icon>\n
  <span [class]="'mif-' + icon"></span>

  \i
  <hr>
  <div class="row">
    <div class="cell-md-6">
      <m4-select prepend="Icon" [(ngModel)]="icon" [options]="icons"></m4-select>
    </div>
    <div class="cell-md-6">
      <m4-select prepend="Color" [(ngModel)]="color" [options]="colorDictionary"></m4-select>
    </div>
  </div>
  ]]>
</app-doc-component>
