<h1>Input</h1>

<m4-input [(ngModel)]="model"></m4-input>

<m4-input [(ngModel)]="model" (ngModelChange)="classTest($event)" [class.alert]="alert"></m4-input>
<m4-checkbox caption="alert" [(ngModel)]="alert"></m4-checkbox>

<m4-input [(ngModel)]="model" [search-button]="true" (search-button-click)="search($event)"></m4-input>

<m4-input [(ngModel)]="model" [search-button]="true" search-button-icon="<span class='mif-rocket mif-2x'></span>"
          (search-button-click)="search($event)"></m4-input>

<m4-input [(ngModel)]="model" [custom-buttons]="customButtons"></m4-input>

<m4-input type="password" [(ngModel)]="model"></m4-input>

<m4-input [(ngModel)]="model" [disabled]="true"></m4-input>

<m4-input [(ngModel)]="prepend" prepend="Prepend"></m4-input>

<m4-input [(ngModel)]="model" [prepend]="prepend" [append]="prepend"></m4-input>

<m4-input [(ngModel)]="model" [default-value]="prepend" clear-button-icon="<span class='mif-amazon'></span>"></m4-input>

<m4-input [(ngModel)]="model" [autocomplete]="['Demo', 'Test', 'Current', 'Magic', 'Awesome']"></m4-input>

{{model | json}}

<m4-input [(ngModel)]="modelNumber" type="number" prepend="Number"></m4-input>

{{modelNumber | json}}

<h1>Material Input</h1>

<m4-material-input [(ngModel)]="mmodel" [class.alert]="alert"></m4-material-input>

<m4-material-input [(ngModel)]="mmodel" type="password"></m4-material-input>

<m4-material-input [(ngModel)]="modelNumber" type="number"></m4-material-input>

<m4-material-input [(ngModel)]="mmodel" placeholder="test123"
                   icon="<span class='mif-envelop'></span>" [label]="model" informer="das ist ein test"></m4-material-input>

{{mmodel | json}}
