<h1>Input</h1>

<app-doc-component title="Basic usage" [values]="{ model: 'value' }" [showModel]="true">
  <![CDATA[
  <m4-input [(ngModel)]="model"></m4-input>
  ]]>
</app-doc-component>

<app-doc-component title="Prepend/Append" [showModel]="true" [values]="{ model: 'value', prepend: 'Example Description' }">
  <![CDATA[
  <m4-input [(ngModel)]="prepend" prepend="Change prepend value"></m4-input>\n
  <m4-input [(ngModel)]="model" [prepend]="prepend"></m4-input>\n
  <m4-input [(ngModel)]="model" [append]="prepend"></m4-input>
  ]]>
</app-doc-component>

<app-doc-component title="Clear button">
  <![CDATA[
  <m4-input [ngModel]="'value'" [clear-button]="true"></m4-input>\n
  <m4-input [ngModel]="'value'" [clear-button]="false"></m4-input>\n
  <m4-input [ngModel]="'value'" clear-button-icon="<span class='mif-rocket'></span>"></m4-input>
  ]]>
</app-doc-component>

<app-doc-component title="Reveal button" [values]="{ model: 'password' }" [showModel]="true">
  <![CDATA[
  <m4-input type="password" [(ngModel)]="model" [reveal-button]="true"></m4-input>
  ]]>
</app-doc-component>

<app-doc-component title="Search button" [values]="{ model: 'serch text', clickEvent: search }" [showModel]="true">
  <![CDATA[
  <m4-input [(ngModel)]="model" [search-button]="true" (search-button-click)="clickEvent($event)"></m4-input>
  ]]>
</app-doc-component>

<app-doc-component title="Custom buttons" [values]="{ model: 'custom buttons', clickEvent: search }" [showModel]="true">
  <![CDATA[
  <m4-input [(ngModel)]="model" [custom-buttons]="[{html: '<span class=\'mif-user\'></span>', cls: 'success', onclick: clickEvent }]"></m4-input>
  ]]>
</app-doc-component>

<app-doc-component title="Autocomplete" [values]="{ model: 'automcomplete' }" [showModel]="true">
  <![CDATA[
  <m4-input [(ngModel)]="model" [autocomplete]="['autocomplete', 'value', 'magic', 'useful', 'test']"></m4-input>\n
  <m4-input [(ngModel)]="model" [autocomplete]="['autocomplete', 'value', 'magic', 'useful', 'test']" [autocomplete-list-height]="150"></m4-input>
  ]]>
</app-doc-component>

<app-doc-component title="Number input" [values]="{ model: 54 }" [showModel]="true">
  <![CDATA[
  <m4-input type="number" [(ngModel)]="model"></m4-input>
  ]]>
</app-doc-component>

<m4-input [(ngModel)]="model"></m4-input>

<button m4-button (click)="updateProp()">Update Test</button>

<m4-input [(ngModel)]="model" (ngModelChange)="classTest($event)" [class.alert]="alert"></m4-input>
<m4-checkbox caption="alert" [(ngModel)]="alert"></m4-checkbox>

<m4-input [(ngModel)]="model" [search-button]="true" (search-button-click)="search($event)"></m4-input>

<m4-input [(ngModel)]="model" [search-button]="true" search-button-icon="<span class='mif-rocket mif-2x'></span>"
          (search-button-click)="search($event)"></m4-input>

<m4-input [(ngModel)]="model" [custom-buttons]="customButtons"></m4-input>

<m4-input type="password" [(ngModel)]="model"></m4-input>

<m4-input [(ngModel)]="model" [disabled]="true"></m4-input>

<m4-input [(ngModel)]="prepend" prepend="Prepend"></m4-input>

<m4-input [(ngModel)]="model" [prepend]="prepend" [append]="prepend"></m4-input>

<m4-input [(ngModel)]="model" [default-value]="prepend" clear-button-icon="<span class='mif-amazon'></span>"></m4-input>

<m4-input [(ngModel)]="model" [autocomplete]="['Demo', 'Test', 'Current', 'Magic', 'Awesome']"></m4-input>

{{model | json}}

<m4-input [(ngModel)]="modelNumber" type="number" prepend="Number"></m4-input>

{{modelNumber | json}}

<h1>Material Input</h1>

<m4-material-input [(ngModel)]="mmodel" [class.alert]="alert"></m4-material-input>

<m4-material-input [(ngModel)]="mmodel" type="password"></m4-material-input>

<m4-material-input [(ngModel)]="modelNumber" type="number"></m4-material-input>

<m4-material-input [(ngModel)]="mmodel" placeholder="test123"
                   icon="<span class='mif-envelop'></span>" [label]="model" informer="das ist ein test"></m4-material-input>

{{mmodel | json}}
