<h1>Activity</h1>
<a href="https://metroui.org.ua/progress.html" target="_blank">Activity in Metro 4 docs</a>

<app-doc-component header="Basic usage">
  <![CDATA[
  \i<div class="bg-gray p-5">\i
    <m4-activity></m4-activity>
  \i</div>\i\n
  \i<div class="bg-gray p-5">\i
  <m4-activity type="simple"></m4-activity>
  \i</div>\i\n
  \i<div class="bg-gray p-5">\i
  <m4-activity type="metro"></m4-activity>
  \i</div>\i\n
  \i<div class="bg-gray p-5">\i
  <m4-activity type="square"></m4-activity>
  \i</div>\i\n
  \i<div class="bg-gray p-5">\i
  <m4-activity type="cycle"></m4-activity>
  \i</div>\i
  ]]>
</app-doc-component>

<app-doc-component header="Colored">
  <![CDATA[
  \i<div class="bg-gray p-5">\i
  <m4-activity activity-style="color"></m4-activity>
  \i</div>\i\n
  \i<div class="bg-gray p-5">\i
  <m4-activity activity-style="color" type="simple"></m4-activity>
  \i</div>\i\n
  \i<div class="bg-gray p-5">\i
  <m4-activity activity-style="color" type="metro"></m4-activity>
  \i</div>\i\n
  \i<div class="bg-gray p-5">\i
  <m4-activity activity-style="color" type="square"></m4-activity>
  \i</div>\i\n
  \i<div class="bg-gray p-5">\i
  <m4-activity activity-style="color" type="cycle"></m4-activity>
  \i</div>\i
  ]]>
</app-doc-component>
