<h1>Animation</h1>
<a href="https://metroui.org.ua/animation.html" target="_blank">Animation in Metro 4 docs</a>

<app-doc-component header="Basic usage">
  <![CDATA[
  <m4-icon icon="home" m4-animation="ring"></m4-icon>\n
  <m4-icon icon="home" m4-animation="flash"></m4-icon>\n
  <m4-icon icon="home" m4-animation="bounce"></m4-icon>\n
  <m4-icon icon="home" m4-animation="float"></m4-icon>\n
  <m4-icon icon="home" m4-animation="heartbeat"></m4-icon>\n
  <m4-icon icon="home" m4-animation="horizontal"></m4-icon>\n
  <m4-icon icon="home" m4-animation="vertical"></m4-icon>\n
  <m4-icon icon="home" m4-animation="pass"></m4-icon>\n
  <m4-icon icon="home" m4-animation="pulse"></m4-icon>\n
  <m4-icon icon="home" m4-animation="shuttle"></m4-icon>\n
  <m4-icon icon="home" m4-animation="spanner"></m4-icon>\n
  <m4-icon icon="home" m4-animation="shake"></m4-icon>\n
  <m4-icon icon="home" m4-animation="spin"></m4-icon>\n
  <m4-icon icon="home" m4-animation="ripple"></m4-icon>
  ]]>
</app-doc-component>

<app-doc-component header="On hover">
  <![CDATA[
  <m4-icon icon="home" m4-animation="spin" [animation-hover]="true"></m4-icon>
  ]]>
</app-doc-component>
