<h1>Select</h1>
<a href="https://metroui.org.ua/select.html" target="_blank">Select in Metro 4 docs</a>

<app-doc-component header="Playground" [values]="{ model: 'value', options: [], duration: 0, filter: true }" [showModel]="true">
  <![CDATA[
  <m4-select [(ngModel)]="model" [prepend]="prepend" [append]="append" [options]="options" [disabled]="disabled"\l
             \t [multiple]="multiple" [duration]="duration" [filter-placeholder]="filterPlaceholder"\l
             \t [drop-height]="dropHeight" [filter]="filter" [class]="accent"></m4-select>

  \i
  <hr>

  <div class="row">
    <div class="cell-md-4">
      <m4-input prepend="Prepend" [(ngModel)]="prepend"></m4-input>
    </div>
    <div class="cell-md-4">
      <m4-input prepend="Append" [(ngModel)]="append"></m4-input>
    </div>
    <div class="cell-md-4">
      <m4-input prepend="Filter placeholder" [(ngModel)]="filterPlaceholder"></m4-input>
    </div>
    <div class="cell-md-4">
      <m4-input prepend="Duration" type="number" [(ngModel)]="duration"></m4-input>
    </div>
    <div class="cell-md-4">
      <m4-input prepend="Drop height" type="number" [(ngModel)]="dropHeight"></m4-input>
    </div>
    <div class="cell-md-4">
      <m4-select prepend="Accent class"
                 [options]="accentDictionary"
                 [(ngModel)]="accent"></m4-select>
    </div>

    <div class="cell-12">
      <m4-checkbox [(ngModel)]="disabled" caption="Disabled"></m4-checkbox>
      <m4-checkbox [(ngModel)]="multiple" caption="Multiple"></m4-checkbox>
      <m4-checkbox [(ngModel)]="filter" caption="Filter"></m4-checkbox>
    </div>
    <div class="cell-12">
      <m4-checkbox-group [(ngModel)]="options">
        <m4-checkbox [value]="{ title: 'Amazon', value: 'amazon', dataTemplate: '<span class=\'mif-amazon icon\'></span> $1' }" caption="Option 1"></m4-checkbox>
        <m4-checkbox [value]="{ title: 'Eye', value: 'eye', dataTemplate: '<span class=\'mif-eye icon\'></span> $1' }" caption="Option 2"></m4-checkbox>
        <m4-checkbox [value]="{ title: 'Search', value: 'search', dataTemplate: '<span class=\'mif-search icon\'></span> $1' }" caption="Option 3"></m4-checkbox>
        <m4-checkbox [value]="{ groupName: 'Group 1', options: [
          { title: 'Home', value: 'home', dataTemplate: '<span class=\'mif-home icon\'></span> $1' },
          { title: 'Menu', value: 'menu', dataTemplate: '<span class=\'mif-menu icon\'></span> $1' }
         ] }" caption="Group 1"></m4-checkbox>
      </m4-checkbox-group>
    </div>
  </div>
  ]]>
</app-doc-component>

<app-doc-component header="Basic usage" [values]="{ model: 'value' }" [showModel]="true">
  <![CDATA[
  <m4-select [(ngModel)]="model" [options]="{ 'value': 'title', '1': '1', '2': '2' }"></m4-select>
  ]]>
</app-doc-component>

<app-doc-component header="Using an object as options" [values]="{ model: 'value' }" [showModel]="true">
  <![CDATA[
  <m4-select [(ngModel)]="model" [options]="{ 'value': 'title', '1': '1', '2': '2' }"></m4-select>\n
  <m4-select [(ngModel)]="model" [options]="{ 'group title': { 'value': 'title' },  'second group title': { 'value': 'title' } }"></m4-select>
  ]]>
</app-doc-component>

<app-doc-component header="Using an array as options" [values]="{ model: 28, options: options }" [showModel]="true">
  <![CDATA[
  <m4-select [(ngModel)]="model" [options]="options"></m4-select>\n
  <m4-select [(ngModel)]="model" [options]="options"></m4-select>
  ]]>
  <div lang>
    <![CDATA[
    \f:(ts)
    options = [\n
      \t{title: 'Das ist ein test', value: { test: 'This is the first test' }, dataTemplate: '<span class=\'mif-amazon icon\'></span> $1'},\n
      \t{\n
        \t\tgroupName: 'Test Gruppe',\n
        \t\toptions: [\n
          \t\t\t{title: 'Das ist ein test', value: 28, dataTemplate: '<span class=\'mif-amazon icon\'></span> $1'}\n
        \t\t]\n
      \t}\n
    ];
    ]]>
  </div>
</app-doc-component>

<app-doc-component header="Defining options in html" [values]="{ model: 'mini' }" [showModel]="true">
  <![CDATA[
  <m4-select [(ngModel)]="model">\l
    \t<optgroup label="Physical servers">\l
      \t\t<option value="dedicated_corei3_hp">Core i3 (hp)</option>\l
      \t\t<option value="dedicated_pentium_hp">Pentium (hp)</option>\l
      \t\t<option value="dedicated_smart_corei3_hp">Smart Core i3 (hp)</option>\l
    \t</optgroup>\l
    \t<optgroup label="Virtual hosting">\l
      \t\t<option value="mini">Mini</option>\l
      \t\t<option value="site">Site</option>\l
      \t\t<option value="portal">Portal</option>\l
    \t</optgroup>\l
    \t<optgroup label="Virtual servers">\l
      \t\t<option value="evps0">eVPS-TEST (30 дней)</option>\l
      \t\t<option value="evps1" selected="selected">eVPS-1</option>\l
      \t\t<option value="evps2">eVPS-2</option>\l
    \t</optgroup>\l
  </m4-select>
  ]]>
</app-doc-component>

<div class="remark info ml-2 mr-2">
  <code>$1</code> gets replaced by options title
</div>

<app-doc-component header="Prepend/Append" [values]="{ model: 'value' }" [showModel]="true">
  <![CDATA[
  <m4-select [(ngModel)]="model" prepend="Select" [options]="{ 'value': 'title', '1': '1', '2': '2' }"></m4-select>\n
  <m4-select [(ngModel)]="model" append="Select" [options]="{ 'value': 'title', '1': '1', '2': '2' }"></m4-select>
  ]]>
</app-doc-component>

<app-doc-component header="Multi select" [values]="{ model: ['1', '2'] }" [showModel]="true">
  <![CDATA[
  <m4-select [(ngModel)]="model" [multiple]="true" [options]="{ 'value': 'title', '1': '1', '2': '2' }"></m4-select>
  ]]>
</app-doc-component>

<app-doc-component header="Animation" [values]="{ model: 'value' }" [showModel]="true">
  <![CDATA[
  <m4-select [(ngModel)]="model" [duration]="500" [options]="{ 'value': 'title', '1': '1', '2': '2' }"></m4-select>
  ]]>
</app-doc-component>

<app-doc-component header="Drop height" [values]="{ model: 'value' }" [showModel]="true">
  <![CDATA[
  <m4-select [(ngModel)]="model" [drop-height]="80" [options]="{ 'value': 'title', '1': '1', '2': '2' }"></m4-select>
  ]]>
</app-doc-component>

<app-doc-component header="Filter" [values]="{ model: 'value' }" [showModel]="true">
  <![CDATA[
  <m4-select [(ngModel)]="model" [filter]="false" [options]="{ 'value': 'title', '1': '1', '2': '2' }"></m4-select>\n
  <m4-select [(ngModel)]="model" filter-placeholder="Custom filter placeholder" [options]="{ 'value': 'title', '1': '1', '2': '2' }"></m4-select>
  ]]>
</app-doc-component>
