<m4-slider [(ngModel)]="model" [class.bg-red]="alert"></m4-slider>
<m4-checkbox caption="alert" [(ngModel)]="alert"></m4-checkbox>

<m4-slider [(ngModel)]="model" [disabled]="true"></m4-slider>

<m4-slider [(ngModel)]="model" [accuracy]="1"></m4-slider>

<m4-slider [(ngModel)]="model" [hint]="true" hint-mask="V: $1, $2%"></m4-slider>


<m4-slider [(ngModel)]="model" [vertical]="true"></m4-slider>

<m4-slider [(ngModel)]="buffer"></m4-slider>

<m4-slider [(ngModel)]="buffer" [min]="30" [max]="70"></m4-slider>

<m4-slider [(ngModel)]="buffer"></m4-slider>

<m4-slider [(ngModel)]="buffer" thin="thin" [cycle-marker]="true"></m4-slider>

<m4-slider [(ngModel)]="buffer" thin="ultra-thin" [cycle-marker]="true"></m4-slider>

<m4-slider [(ngModel)]="buffer"></m4-slider>

<m4-slider [(ngModel)]="model" [buffer]="buffer"></m4-slider>

<br><br>

<m4-slider [(ngModel)]="model" [hint-always]="true"></m4-slider>

{{model | json}}
