<h1>Loading</h1>

<div class="remark info">
  The <code>m4-loading</code> directive provides a simple solution to display a loading.<br>
  It supports subscriptions and generates its state depending on the state of the subscription.
</div>

<app-doc-component title="Usage" [values]="{ startLoading: startLoading }">
  <![CDATA[
  <button m4-button (click)="startLoading()" [m4-loading]="loading">\l
    \tStart loading\l
    \t<m4-icon *loading="showSpinner" icon="spinner" m4-animation="spin"></m4-icon>\l
  </button>

  \i
  <hr>
  <m4-switch caption="Show spinner" [(ngModel)]="showSpinner"></m4-switch>
  ]]>
  <div lang>
    <![CDATA[
    \f:(ts)
    @Component({\n
      \tselector: 'app-loading',\n
      \ttemplateUrl: './loading.component.html',\n
      \tstyleUrls: ['./loading.component.less']\n
    })\n
    export class LoadingComponent {\n
      \tloading: Subscription;\n\n

      \tstartLoading() {\n
        \t\tthis.loading = timer(1000).subscribe();\n
      \t}\n
    }
    ]]>
  </div>
</app-doc-component>

<div class="remark info">
  The state of the object using <code>m4-loading</code> gets set to disabled if an active subscription is provided.<br>
  When the subscription completes the disabled state is removed<br>
  When using <code>m4-loading</code> you can use <code>*loading</code> for the children of the object. They will be rendered if the subscription is active.
</div>

<div class="remark success">
  <code>*loading</code> works like <code>*ngIf</code>. It renders the content if a truthy value is provided.
  But it will also render the content if the parent <code>m4-loading</code> is active, no matter if a falsy value is provided or not.
</div>
