<h1>Panel</h1>
<a href="https://metroui.org.ua/panels.html" target="_blank">Panel in Metro 4 docs</a>

<app-doc-component header="Basic usage">
  <![CDATA[
  <m4-panel>\l
    \t<h1>Basic panel</h1>\l
  </m4-panel>
  ]]>
</app-doc-component>

<app-doc-component header="Width/Height">
  <![CDATA[
  <m4-panel width="200" height="200">\l
    \t<h1>Basic panel</h1>\l
  </m4-panel>
  ]]>
</app-doc-component>

<app-doc-component header="Title">
  <![CDATA[
  <m4-panel title="Panel title">\l
    \t<h1>Basic panel</h1>\l
  </m4-panel>\l\n
  <m4-panel title="Panel with icon" title-icon="<span class='mif-home'></span>">\l
    \t<h1>Basic panel</h1>\l
  </m4-panel>
  ]]>
</app-doc-component>

<app-doc-component header="Collapsible">
  <![CDATA[
  <m4-panel title="Panel title" [collapsible]="true">\l
    \t<h1>Basic panel</h1>\l
  </m4-panel>\l\n
  <m4-panel title="Panel title" [collapsible]="true" [collapsed]="true">\l
    \t<h1>Basic panel</h1>\l
  </m4-panel>
  ]]>
</app-doc-component>

<app-doc-component header="Draggable">
  <![CDATA[
  <m4-panel [draggable]="true">\l
    \t<h1>Basic panel</h1>\l
  </m4-panel>
  ]]>
</app-doc-component>
