<h1>Dialog service</h1>
<a href="https://metroui.org.ua/dialog.html" target="_blank">Dialog in Metro 4 docs</a>

<div class="remark info">
  The <code>DialogService</code> provides methods to simply create common dialogs like alerts, prompts etc.
</div>

<app-doc-component header="Basic usage" [values]="{ dialogService: dialogService, alert: alert, confirm: confirm, prompt: prompt, info: info }">
  <![CDATA[
  <button m4-button (click)="alert()">Alert</button>\n
  <button m4-button (click)="confirm()">Confirm</button>\n
  <button m4-button (click)="prompt()">Prompt</button>\n
  <button m4-button (click)="info()">Info</button>
  ]]>
  <div lang>
    <![CDATA[
    \f:(ts)
    @Component({\n
      \tselector: 'app-dialog-service',\n
      \ttemplateUrl: './dialog-service.component.html',\n
      \tstyleUrls: ['./dialog-service.component.less']\n
    })\n
    export class DialogServiceComponent {\n\n

      \tconstructor(private dialogService: DialogService) { }\n\n

      \talert() {\n
        \t\tthis.dialogService.alert('Basic alert', 'Warning!');\n
      \t}\n\n

      \tconfirm() {\n
        \t\tthis.dialogService.confirm('Basic confirm', 'Are you sure?');\n
      \t}\n\n

      \tprompt() {\n
        \t\tthis.dialogService.prompt('Basic prompt', 'Enter value');\n
      \t}\n\n

      \tinfo() {\n
        \t\tthis.dialogService.info('Basic info');\n
      \t}\n
    }
    ]]>
  </div>
</app-doc-component>

<app-doc-component header="Wait for result" description="All dialog methods return observables that you can use to wait for the result of the dialog"
                   [values]="{ dialogService: dialogService, confirm: confirmWait, prompt: promptWait }">
  <![CDATA[
  <button m4-button (click)="confirm()">Confirm</button>\n
  <button m4-button (click)="prompt()">Prompt</button>\n
  ]]>
  <div lang>
    <![CDATA[
    \f:(ts)
    this.dialogService.confirm('Confirm wait', 'Are you sure?').subscribe((result) => alert(result));\n
    this.dialogService.prompt('Prompt wait', 'Input').subscribe((result) => alert(result));\n
    ]]>
  </div>
</app-doc-component>

<app-doc-component header="Render component in a dialog" description="You can render any component in a dialog"
                   [values]="{ dialogService: dialogService, customDialog: customDialog, subscriptions: subscriptions }">
  <![CDATA[
  <button m4-button (click)="customDialog()">Show custom dialog</button>
  ]]>
  <div lang>
    <![CDATA[
    \f:(ts)
    this.dialogService.show(CustomDialogContentExampleComponent, 'seeded with data', 'Custom dialog', 'Close', 'w-vw-75 alert')\n
      \t.pipe(last())\n
      \t.subscribe((data) => alert(data));

    \f:(ts)
    // Don't forget to add this component to entryComponents if using Angular Version <9\n
    @Component({\n
      \tselector: 'app-custom-dialog-content-example',\n
      \ttemplate: '<h3>This is an example for a custom component that is rendered in a dialog</h3>\n
        \t\t<m4-input prepend="Custom input" [(ngModel)]="model" (ngModelChange)="dialogDataEmitter.emit($event)"></m4-input>',\n
      \tstyleUrls: ['./custom-dialog-content-example.component.less']\n
    })\n
    export class CustomDialogContentExampleComponent implements OnInit, M4DialogDataEmitter<string>, M4DialogDataInput<string> {\n\n

      \tconstructor() { }\n\n

      \tmodel: string;\n\n

      \tdialogDataEmitter = new EventEmitter<string>();\n
      \tdialogDataInput: string;\n\n

      \tngOnInit() {\n
        \t\tthis.model = this.dialogDataInput;\n
      \t}\n
    }
    ]]>
  </div>
</app-doc-component>

<app-doc-component header="Form prompt" description="You can create a complex form prompt using the M4FormGroup"
                   [values]="{ dialogService: dialogService, prompt: promptForm }">
  <![CDATA[
  <button m4-button (click)="prompt()">Prompt</button>
  ]]>
  <div lang>
    <![CDATA[
    \f:(ts)
    const formGroup = new M4FormGroup('prompt', {\n
      \tname: new M4FormControl(FileInputComponent, null, [Validators.required], null, { read: 'text' })\n
    }, null, null);\n\n

    this.dialogService.formPrompt('Form prompt', formGroup)\n
      \t.subscribe((result) => alert(JSON.stringify(result)));
    ]]>
  </div>
</app-doc-component>

<div class="remark success">
  You can use a custom complex form group as a value for the form group.
  Check out <a routerLink="/form/form_builder"><code>m4-form-builder</code></a> for more information.
</div>

<app-doc-component header="Close" [values]="{ dialogService: dialogService, alert: alertClose }">
  <![CDATA[
  <button m4-button (click)="alert()">Alert</button>
  ]]>
  <div lang>
    <![CDATA[
    \f:(ts)
    this.dialogService.alert('Alert close', 'Content').pipe(takeUntil(timer(2000))).subscribe();
    ]]>
  </div>
</app-doc-component>
