<h1>Form control wrapper</h1>

<div class="remark info">
  The <code>m4-form-control-wrapper</code> marks the controls if it has errors and generates error classes and error messages.
  It is very useful when creating forms.
</div>

<app-doc-component header="Usage" [values]="{ formGroup: formGroup }">
  <![CDATA[
  <div [formGroup]="formGroup">\l
    \t<m4-form-control-wrapper label="Password">\l
      \t\t<m4-input type="password" placeholder="Enter password" formControlName="password"></m4-input>\l
    \t</m4-form-control-wrapper>\l
  </div>
  ]]>
  <div lang>
    <![CDATA[
    \f:(ts)
    public formGroup: FormGroup;\n\n

    constructor() {\n
    \tthis.formGroup = new M4FormGroup('reactive_demo', {\n
    \t\tpassword: new FormControl('', [Validators.required]),\n
    \t});\n
    }
    ]]>
  </div>
</app-doc-component>

<div class="remark warning ml-2 mr-2">
  Note that you should use <code>M4FormGroup</code> when using the <code>m4-form-control-wrapper</code> or <code>m4-form-wrapper</code>.<br>
  The <code>M4FormGroup</code> provides a form name that is used for the generation of error codes.
</div>

<app-doc-component header="Define custom error template" [values]="{ formGroup: formGroup }">
  <![CDATA[
  <div [formGroup]="formGroup">\l
    \t<m4-form-control-wrapper label="Password">\l
      \t\t<m4-input type="password" placeholder="Enter password" formControlName="password"></m4-input>\l\l

      \t\t<ng-template #controlError let-error="error">\l
        \t\t\t<span class="mif-rocket"></span>&nbsp;<span [innerText]="error"></span>\l
      \t\t</ng-template>\l
      \t</m4-form-control-wrapper>\l
  </div>
  ]]>
</app-doc-component>

