<!--<div class="example" style="height: 300px ">-->
<!--  <div data-role="draggable" style="width: 200px" data-drag-element=".drag-element">-->
<!--    <div class="bg-cyan fg-white p-2 drag-element">Panel title</div>-->
<!--    <div class="border bd-cyan p-2">-->
<!--      Bursas sunt fidess de peritus verpa. All parallel therapists handle each other, only unbiased explosion.-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div style="height: 300px" class="border bd-blue">
  <div style="width: 200px" m4-draggable=".drag-element">
    <div class="bg-cyan fg-white p-2 drag-element">Panel title</div>
    <div class="border bd-cyan p-2">
      Bursas sunt fidess de peritus verpa. All parallel therapists handle each other, only unbiased explosion.
    </div>
  </div>
</div>


<!--<div data-role="draggable"-->
<!--     data-drag-element=".drag-element" class="w-25">-->
<!--  <div class="bg-cyan fg-white p-2 drag-element">Panel title</div>-->
<!--  <div class="border bd-cyan p-2">-->
<!--    Bursas sunt fidess de peritus verpa...-->
<!--  </div>-->
<!--</div>-->
