<div class="grid">
  <div class="row">
    <div class="cell"><div>1</div></div>
    <div class="cell"><div>2</div></div>
    <div class="cell"><div>3</div></div>
    <div class="cell"><div>4</div></div>
    <div class="cell"><div>5</div></div>
    <div class="cell"><div>6</div></div>
    <div class="cell"><div>7</div></div>
    <div class="cell"><div>8</div></div>
    <div class="cell"><div>9</div></div>
    <div class="cell"><div>10</div></div>
    <div class="cell"><div>11</div></div>
    <div class="cell"><div>12</div></div>
  </div>
  <div class="row">
    <div class="cell-3"><div>cell-3</div></div>
    <div class="cell-3"><div>cell-3</div></div>
    <div class="cell-3"><div>cell-3</div></div>
    <div class="cell-3"><div>cell-3</div></div>
  </div>
  <div class="row">
    <div class="cell-4 offset-4"><div>cell-4 + offset-4</div></div>
  </div>
  <div class="row">
    <div class="cell-3"><div>cell-3</div></div>
    <div class="cell-6 offset-3"><div>cell-6 + offset-3</div></div>
  </div>
  <div class="row">
    <div class="cell-4 offset-4"><div>cell-4 + offset-4</div></div>
    <div class="cell"><div>1</div></div>
    <div class="cell"><div>1</div></div>
    <div class="cell"><div>1</div></div>
    <div class="cell"><div>1</div></div>
  </div>
  <div class="row">
    <div class="cell">
      <div class="row">
        <div class="cell"><div>nested</div></div>
        <div class="cell"><div>nested</div></div>
        <div class="cell"><div>nested</div></div>
        <div class="cell"><div>nested</div></div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="cell-4">1</div>
    <div class="cell-4">2</div>
    <div class="cell-4">3</div>
  </div>
  <div class="row">
    <div class="colspan-4">1</div>
    <div class="colspan-4">2</div>
    <div class="colspan-4">3</div>
  </div>


  <div class="row">
    <div class="cell offset-1">1</div>
  </div>
  <div class="row">
    <div class="cell offset-2">2</div>
  </div>
  <div class="row">
    <div class="cell offset-3">3</div>
  </div>


  <div class="row">
    <div class="cell-sm-full cell-md-one-third cell-lg-3">1</div>
    <div class="cell-sm-full cell-md-two-third cell-lg-3">2</div>
    <div class="cell-sm-full cell-md-half cell-lg-3">3</div>
    <div class="cell-sm-full cell-md-half cell-lg-3">4</div>
  </div>

  <div class="row">
    <div class="stub" style="width: 300px">Stub:</div>
    <div class="cell">Test123</div>
  </div>
</div>


