<div class="hero hero-bg text-center">

  <div class="display4 fg-darkMagenta"><span class="reduce-3 enlarge-3-md">ng-metro4</span></div>

  <h4 class="text-center fg-darkMagenta text-upper text-light">Metro4 for Angular</h4>
  <h6 class="text-center fg-darkMagenta text-light">Wrapper of the <a target="_blank" href="https://metroui.org.ua">Metro4</a> components</h6>
</div>

<div class="container-fluid bg-white fg-dark pt-10 pb-20">
  <div class="container text-center">

    <div class="feature-table row mt-10">
      <div class="cell-md-4">
        <div class="info-panel rounded no-overflow shadow-3">
          <div class="info-panel-header bg-green fg-white">Open Source</div>
          <div class="info-panel-content">
            <div class="mx-10 my-6"><span class="mif-file-code mif-8x fg-green"></span></div>
            <span class="text-leader2">Metro 4 is an open source project. Also this project is open source</span>
          </div>
          <div class="info-panel-footer">
            <a routerLink="start" class="button large outline success rounded">Download</a>
          </div>
        </div>
      </div>
      <div class="cell-md-4">
        <div class="info-panel rounded no-overflow shadow-3">
          <div class="info-panel-header bg-steel fg-white">Easy to use</div>
          <div class="info-panel-content">
            <div class="mx-10 my-6"><span class="mif-rocket mif-8x fg-steel"></span></div>
            <span class="text-leader2">All components are well designed and easy to use</span>
          </div>
          <div class="info-panel-footer">
            <a routerLink="start" class="button large outline secondary rounded">Get started</a>
          </div>
        </div>
      </div>
      <div class="cell-md-4">
        <div class="info-panel rounded no-overflow shadow-3">
          <div class="info-panel-header bg-orange fg-white">The power of Angular</div>
          <div class="info-panel-content">
            <div class="mx-10 my-6"><span class="mif-power mif-8x fg-orange"></span></div>
            <span class="text-leader2">This library is very powerful, because it uses Angular and enables fast development</span>
          </div>
          <div class="info-panel-footer">
            <a href="https://angular.io/" class="button large outline warning rounded">See Angular</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container-fluid bg-light pt-10 pb-20">
  <div class="container text-center">
    <div class="h1 m-10"><span class="reduce-1 enlarge-1-md">What is it?</span></div>
    <div class="text-leader">
      <p class="reduce-1 enlarge-1-md pl-5-fs pr-5-fs pl-20-md pr-20-md">
        Metro 4 is an open source toolkit for developing with HTML, CSS, and JS. This library is a wrapper for this toolkit and brings the beatiful components in your angular application.
      </p>
    </div>
    <hr class="mt-10 mb-10 w-50" style="background-color: #E1E1E1">
    <div class="example p-0 no-border"></div>
    <hr class="mt-10 mb-10 w-50" style="background-color: #E1E1E1">
    <div class="text-leader2">
      <p class="reduce-1 enlarge-1-md pl-5-fs pr-5-fs pl-20-md pr-20-md">
        Build responsive, mobile-first projects on the web with the first front-end component library in Metro Style and not only.
      </p>
    </div>
  </div>
</div>

<div class="container-fluid feature-bg pt-10 pb-20">
  <div class="container text-center">
    <div class="h1 mt-10"><span class="reduce-1 enlarge-1-md">All the Features You Need</span></div>
    <div class="h4 text-light"><span class="reduce-1 enlarge-1-md">With Metro 4 you get:</span></div>

    <div class="row mt-12">
      <div class="cell-md-4 mt-4">
        <div><span class="mif-embed2 mif-8x"></span></div>
        <h4 class="fg-white mt-4">Base styles</h4>
        <p>
          Metro 4 includes various styles for changing the appearance of html elements.
        </p>
      </div>
      <div class="cell-md-4 mt-4">
        <div><span class="mif-library mif-8x"></span></div>
        <h4 class="fg-white mt-4">100+ Components</h4>
        <p>
          More than 100 components are available to you to solve almost all tasks.
        </p>
      </div>
      <div class="cell-md-4 mt-4">
        <div><span class="mif-cogs mif-8x"></span></div>
        <h4 class="fg-white mt-4">Tools and Routines</h4>
        <p>
          Various built-in tool functions and classes will increase your productivity.
        </p>
      </div>
    </div>

    <div class="row mt-12">
      <div class="cell-md-4 mt-4">
        <div><span class="mif-bug mif-8x"></span></div>
        <h4 class="fg-white mt-4">Issues</h4>
        <p>
          Rapid response to detected bugs and their elimination.
        </p>
      </div>
      <div class="cell-md-4 mt-4">
        <div><span class="mif-help mif-8x"></span></div>
        <h4 class="fg-white mt-4">Guide</h4>
        <p>
          Detailed description of all elements of the Metro 4 library.
        </p>
      </div>
      <div class="cell-md-4 mt-4">
        <div><span class="mif-bubbles mif-8x"></span></div>
        <h4 class="fg-white mt-4">Forum</h4>
        <p>
          Get additional help from the community on the Metro 4 forum.
        </p>
      </div>
    </div>

  </div>
</div>


<footer class="footer-bg">
  <div class="container pt-20 pb-20">
    <div class="text-center">
      <ul class="inline-list reduce-1" id="social-menu">
        <li><a href="https://github.com/morrisjdev/ng-metro4">ng-metro4 <span class="mif-github"></span></a></li>
        <li><a href="https://github.com/olton/Metro-UI-CSS">Metro4 <span class="mif-github"></span></a></li>
      </ul>
    </div>

    <div class="text-center mt-10">
      <ul class="inline-list reduce-1" id="footer-menu">
        <li><a href="https://github.com/morrisjdev/ng-metro4/blob/master/LICENSE">License</a></li>
        <li><a href="https://github.com/morrisjdev">Author</a></li>
        <li><a href="https://github.com/morrisjdev/ng-metro4/issues">Issues</a></li>
        <li><a href="https://github.com/morrisjdev/ng-metro4/releases">Releases</a></li>
      </ul>
    </div>


    <div class="text-center mt-10 reduce-1">
      ng-metro4 &copy; 2018-2019 by <a href="https://github.com/morrisjdev" class="no-wrap">morrisjdev</a>.
      <br>
      Metro 4 (Metro UI CSS) &copy; 2012-2019 by <a href="mailto:sergey@pimenov.com.ua" class="no-wrap">Sergey Pimenov</a>.
    </div>
  </div>
</footer>
