<h1>Donut</h1>
<a href="https://metroui.org.ua/donut.html" target="_blank">Donut in Metro 4 docs</a>

<app-doc-component title="Basic usage" [values]="{ value: 30 }">
  <![CDATA[
  <m4-donut [value]="value"></m4-donut>

  \i
  <hr>
  <m4-slider [(ngModel)]="value"></m4-slider>
  ]]>
</app-doc-component>

<app-doc-component title="Hole" [values]="{ value: 30 }">
  <![CDATA[
  <m4-donut [value]="value" [hole]="0"></m4-donut>

  \i
  <hr>
  <m4-slider [(ngModel)]="value"></m4-slider>
  ]]>
</app-doc-component>

<app-doc-component title="Size" [values]="{ value: 30 }">
  <![CDATA[
  <m4-donut [value]="value" [size]="50" [radius]="25"></m4-donut>

  \i
  <hr>
  <m4-slider [(ngModel)]="value"></m4-slider>
  ]]>
</app-doc-component>

<app-doc-component title="Color" [values]="{ value: 30 }">
  <![CDATA[
  <m4-donut [value]="value" stroke="#f5f5f5" background="" fill="#4CAF50"></m4-donut>

  \i
  <hr>
  <m4-slider [(ngModel)]="value"></m4-slider>
  ]]>
</app-doc-component>

<app-doc-component title="Animate" [values]="{ value: 30 }">
  <![CDATA[
  <m4-donut [value]="value" [animate]="10"></m4-donut>

  \i
  <hr>
  <m4-slider [(ngModel)]="value"></m4-slider>
  ]]>
</app-doc-component>

<app-doc-component title="Caption" [values]="{ value: 30 }">
  <![CDATA[
  <m4-donut [value]="value" caption="°C"></m4-donut>

  \i
  <hr>
  <m4-slider [(ngModel)]="value"></m4-slider>
  ]]>
</app-doc-component>

<app-doc-component title="Max" [values]="{ value: 30 }">
  <![CDATA[
  <m4-donut [value]="value" [total]="50"></m4-donut>

  \i
  <hr>
  <m4-slider [(ngModel)]="value" max="50"></m4-slider>
  ]]>
</app-doc-component>

<app-doc-component title="Show value" [values]="{ value: 30 }">
  <![CDATA[
  <m4-donut [value]="value" [show-value]="true" caption="" [total]="50"></m4-donut>

  \i
  <hr>
  <m4-slider [(ngModel)]="value" max="50"></m4-slider>
  ]]>
</app-doc-component>
